@import "tailwindcss";

@layer base {
  :root {
    color-scheme: dark; /* This forces browser UI (scrollbars, etc) to dark */
  }
  html {
    background-color: black;
  }
  body {
    @apply bg-black text-white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}